body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #dedede;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #282c34;
  text-decoration: underline;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 0;
}

h1::first-letter,
h2::first-letter,
h3::first-letter {
  font-size: 1.5em;
  font-weight: 400;
  margin-right: 2px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}
